<div class="divCard">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <h3>Selecione um número para gerar a tabuada de multiplicação</h3>
            </mat-card-title>
        </mat-card-header>

        <form [formGroup]="formulario" (ngSubmit)="EnviarFormulario()">
            <mat-card-content>
                <div>
                    <mat-form-field>
                        <mat-label>Número</mat-label>
                        <mat-select formControlName="tabNumero">
                            <mat-option *ngFor="let tipo of slcTab" [value]="tipo.valor">{{tipo.texto}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </mat-card-content>

            <mat-divider></mat-divider>
            <mat-card-actions>
                <div>
                    <button type="submit" mat-stroked-button color="primary">Gerar tabuada</button>
                </div>
            </mat-card-actions>
        </form>
    </mat-card>
</div>
<div class="dadosTabuada">
    <table mat-table [dataSource]="tabuadaLista" class="mat-elevation-z8">
        <ng-container matColumnDef="tabNumero">
            <th mat-header-cell *matHeaderCellDef>Tabuada</th>
            <td mat-cell *matCellDef="let element"> {{element.tabNumero}} </td>
        </ng-container>
        <ng-container matColumnDef="numero">
            <th mat-header-cell *matHeaderCellDef>Número</th>
            <td mat-cell *matCellDef="let element"> {{element.numero}} </td>
        </ng-container>
        <ng-container matColumnDef="resultado">
            <th mat-header-cell *matHeaderCellDef>Resultado</th>
            <td mat-cell *matCellDef="let element"> {{element.resultado}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
</div>

<router-outlet />